<?xml version="1.0"?>
<!--
/**
 * @category Mulberry
 * @package Mulberry\Warranty
 * @author Mulberry <support@getmulberry.com>
 * @copyright Copyright (c) 2019 Mulberry Technology Inc., Ltd (http://www.getmulberry.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mulberry_warranty>
            <general>
                <active>1</active>
                <api_url>https://staging.getmulberry.com</api_url>
                <partner_url>https://partner-staging.getmulberry.com</partner_url>
                <platform_domain>mulberry-staging.myshopify.com</platform_domain>
                <retailer_id></retailer_id>
                <private_token></private_token>
                <public_token></public_token>
                <send_cart_data>0</send_cart_data>
                <enable_force_logging>0</enable_force_logging>
            </general>
        </mulberry_warranty>
    </default>
</config>
