<?xml version="1.0"?>
<!--
/**
 * @category Mulberry
 * @package Mulberry\Warranty
 * @author Mulberry <support@getmulberry.com>
 * @copyright Copyright (c) 2019 Mulberry Technology Inc., Ltd (http://www.getmulberry.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mulberry\Warranty\Api\Config\HelperInterface" type="Mulberry\Warranty\Helper\ConfigHelper"/>
    <preference for="Mulberry\Warranty\Api\ItemUpdaterInterface" type="Mulberry\Warranty\Helper\ItemUpdater"/>
    <preference for="Mulberry\Warranty\Api\ItemOptionInterface" type="Mulberry\Warranty\Helper\ItemOptionHelper"/>
    <preference for="Mulberry\Warranty\Api\ProductHelperInterface" type="Mulberry\Warranty\Helper\ProductHelper"/>
    <preference for="Mulberry\Warranty\Api\Rest\ServiceInterface" type="Mulberry\Warranty\Model\Api\Rest\Service"/>
    <preference for="Mulberry\Warranty\Api\Rest\WarrantyServiceInterface" type="Mulberry\Warranty\Model\Api\Rest\Warranty"/>
    <preference for="Mulberry\Warranty\Api\Rest\SendOrderServiceInterface" type="Mulberry\Warranty\Model\Api\Rest\SendOrder"/>
    <preference for="Mulberry\Warranty\Api\Rest\SendCartServiceInterface" type="Mulberry\Warranty\Model\Api\Rest\SendCart"/>
    <preference for="Mulberry\Warranty\Api\Rest\CancelOrderServiceInterface" type="Mulberry\Warranty\Model\Api\Rest\CancelOrder"/>
    <preference for="Mulberry\Warranty\Api\Rest\GetPersonalizedWarrantyServiceInterface" type="Mulberry\Warranty\Model\Api\Rest\GetPersonalizedWarranty"/>
    <preference for="Magento\Catalog\Block\Product\View\Options" type="Mulberry\Warranty\Block\Product\View\Options"/>
    <preference for="Mulberry\Warranty\Api\QueueRepositoryInterface" type="Mulberry\Warranty\Model\QueueRepository"/>
    <preference for="Mulberry\Warranty\Api\Data\QueueInterface" type="Mulberry\Warranty\Model\Data\Queue"/>
    <preference for="Mulberry\Warranty\Api\QueueProcessorInterface" type="Mulberry\Warranty\Model\Processor\Queue"/>

    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="MulberryConfigurableProductExtend" type="Mulberry\Warranty\Plugin\ConfigurablePlugin"/>
    </type>

    <!-- Extend order grid -->
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="order_identifier" xsi:type="string">sales_order.order_identifier</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Custom Logger -->
    <type name="Mulberry\Warranty\Cron\SendCart">
        <arguments>
            <argument name="logger" xsi:type="object">Mulberry\Warranty\Logger\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Mulberry\Warranty\Cron\SendOrder">
        <arguments>
            <argument name="logger" xsi:type="object">Mulberry\Warranty\Logger\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Mulberry\Warranty\Model\Api\Rest\Service">
        <arguments>
            <argument name="logger" xsi:type="object">Mulberry\Warranty\Logger\VirtualLogger</argument>
        </arguments>
    </type>
    <type name="Mulberry\Warranty\Model\Processor\Queue">
        <arguments>
            <argument name="logger" xsi:type="object">Mulberry\Warranty\Logger\VirtualLogger</argument>
        </arguments>
    </type>

    <virtualType name="Mulberry\Warranty\Logger\Handler\VirtualHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/mulberry_warranty.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Mulberry\Warranty\Logger\VirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Mulberry\Warranty\Logger\Handler\VirtualHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="mulberry_warranty_sync_order" xsi:type="object">Mulberry\Warranty\Console\Command\SyncOrder</item>
                <item name="mulberry_warranty_sync_cart" xsi:type="object">Mulberry\Warranty\Console\Command\SyncCart</item>
            </argument>
        </arguments>
    </type>
</config>
