<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category Mulberry
 * @package Mulberry\Warranty
 * @author Mulberry <support@getmulberry.com>
 * @copyright Copyright (c) 2019 Mulberry Technology Inc., Ltd (http://www.getmulberry.com)
 * @license http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mulberry" translate="label" sortOrder="300">
            <label>Mulberry</label>
        </tab>

        <section id="mulberry_warranty" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Warranty</label>
            <tab>mulberry</tab>
            <resource>Mulberry_Warranty::mulberry_warranty</resource>

            <group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>

                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Mulberry Warranty Block</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="api_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mulberry API URL</label>
                    <comment><![CDATA[
                    API URL used for Mulberry requests, <br />
                        <b>Sandbox:</b> https://app-staging.getmulberry.com <br />
                        <b>Production:</b> https://app.getmulberry.com ]]></comment>
                </field>

                <field id="partner_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mulberry Partner Base URL</label>
                    <comment><![CDATA[
                    Mulberry Partner URL used for Mulberry requests, <br />
                        <b>Sandbox:</b> https://partner-staging.getmulberry.com <br />
                        <b>Production:</b> https://partner.getmulberry.com ]]></comment>
                </field>

                <field id="platform_domain" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Platform Domain Name</label>
                    <comment><![CDATA[
                    Used for API init, if no value is set, $_SERVER['SERVER_NAME'] is used.
                    ]]></comment>
                </field>

                <field id="retailer_id" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mulberry Retailer ID</label>
                    <comment><![CDATA[
                    Retailer ID used for send order API call.
                    ]]></comment>
                </field>

                <field id="private_token" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Private Token</label>
                    <comment><![CDATA[
                    Auth token to be used for API calls.
                    ]]></comment>
                </field>

                <field id="public_token" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public Token</label>
                    <comment><![CDATA[
                    Public token to be used for offer init.
                    ]]></comment>
                </field>

                <field id="send_cart_data" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Post Purchase</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="enable_force_logging" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Force Request/Response Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="actions" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Actions</label>
                <field id="generate_and_download" translate="Generate and download action" type="button" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Mulberry\Warranty\Block\System\Config\GenerateAndDownload</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
